.ipynb_checkpoints
__pycache__

NLP/nlp/
NLP/Named_entity_rec/ner
NLP/Text_classification/data
trackers/*
weights/
images/
output/
model_repository/
anpr_videos/

#file extensions
*.pt
*.onnx
*.engine
*.pth
*.zip